<% provide(:title, "Cloud") %>

<main class="pakketten container">
  <div class="intro">
    <h2>Cloud pakketten</h2>
    <p>Hieronder kunt u de 3 cloud pakketten die wij aanbieden bekijken en met elkaar vergelijken.</p>
  </div>

  <div class="pakket pakket1 geel">
    <h3><%= @geel.name %></h3>
    <table class="left-text">
      <tr><th>Opslag</th><td><%= @geel.storage %> HDD</td></tr>
    </table>
    <br>
    <strong>€ <%= @geel.price %> per maand</strong>
    <br>
    <br>
    <p><%= link_to("Bestellen", cloud_path, :class => "button", :value => "Geel", :onClick => "addToCard('Geel')") %></p>
  </div>

  <div class="pakket pakket2 oranje">
    <h3><%= @oranje.name %></h3>
    <table class="left-text">
      <tr><th>Opslag</th><td><%= @oranje.storage %> HDD</td></tr>
    </table>
    <br>
    <strong>€ <%= @oranje.price %> per maand</strong>
    <br>
    <br>
    <p><%= link_to("Bestellen", cloud_path, :class => "button", :value => "Geel", :onClick => "addToCard('Oranje')") %></p>
  </div>

  <div class="groen pakket pakket3">
    <h3><%= @groen.name %></h3>
    <table class="left-text">
      <tr><th>Opslag</th><td><%= @groen.storage %> HDD</td></tr>
    </table>
    <br>
    <strong>€ <%= @groen.price %> per maand</strong>
    <br>
    <br>
    <p><%= link_to("Bestellen", cloud_path, :class => "button", :value => "Geel", :onClick => "addToCard('Groen')") %></p>
  </div>
  <span class="strech"></span>
</main>
