<% provide(:title, "Hosting") %>
<header>
  <nav class="container">
    <div class="left">
      <ul class="inline_ul"><li class="logo"><a href="" title="Terug naar de homepage">ColiCSS</a></li><ul>
    </div>

    <div class="right">
      <ul class="inline_ul">
        <li class="button"><%= link_to("Home", '/')%></li>
        <li class="button active"><%= link_to("Hosting", '/hosting')%></li>
        <li class="button"><%= link_to("Cloud", '/cloud')%></li>
        <li class="button"><%= link_to("Reviews", '/reviews')%></li>
        <li class="button"><%= link_to("Social", '/social')%></li>
        <li class="button"><%= link_to("Contact", '/contact')%></li>
      </ul>
    </div>
  </nav>
</header>

<main class="pakketten container">
  <div class="intro">
    <h2>Hosting pakketten</h2>
    <p>Hieronder kunt u de 3 hosting pakketten die wij aanbieden bekijken en met elkaar vergelijken.</p>
  </div>

  <div class="pakket pakket1 bronze">
    <h3><%= @bronze.name %></h3>
    <table class="left-text">
      <tr><th>HDD</th><td><%= @bronze.storage %></td></tr>
      <tr><th>RAM</th><td><%= @bronze.ram %></td></tr>
      <tr><th>Cores</th><td><%= @bronze.cores %></td></tr>
      <tr><th>Dataverkeer</th><td><%= @bronze.storage %></td></tr>
    </table>
    <br>
    <strong>€ <%= @bronze.price %> per maand</strong>
    <br>
    <br>
    <p><%= link_to("Bestellen", '/hosting', :class => "button") %></p>
  </div>
  <div class="pakket pakket2 silver">
    <h3><%= @silver.name %></h3>
    <table class="left-text">
      <tr><th>HDD</th><td><%= @silver.storage %></td></tr>
      <tr><th>RAM</th><td><%= @silver.ram %></td></tr>
      <tr><th>Cores</th><td><%= @silver.cores %></td></tr>
      <tr><th>Dataverkeer</th><td><%= @silver.storage %></td></tr>
    </table>
    <br>
    <strong>€ <%= @silver.price %> per maand</strong>
    <br>
    <br>
    <p><%= link_to("Bestellen", '/hosting', :class => "button") %></p>
  </div>
  <div class="pakket pakket3 gold">
    <h3><%= @goud.name %></h3>
    <table class="left-text">
      <tr><th>HDD</th><td><%= @goud.storage %></td></tr>
      <tr><th>RAM</th><td><%= @goud.ram %></td></tr>
      <tr><th>Cores</th><td><%= @goud.cores %></td></tr>
      <tr><th>Dataverkeer</th><td><%= @goud.storage %></td></tr>
    </table>
    <br>
    <strong>€ <%= @goud.price %> per maand</strong>
    <br>
    <br>
    <p><%= link_to("Bestellen", '/hosting', :class => "button") %></p>
  </div>
  <span class="strech"></span>
</main>
