<% provide(:title, "Home") %>
<header>
  <nav class="container">
    <div class="left">
      <ul class="inline_ul"><li class="logo"><a href="" title="Terug naar de homepage">ColiCSS</a></li><ul>
    </div>

    <div class="right">
      <ul class="inline_ul">
        <li class="button active"><%= link_to("Home", '/')%></li>
        <li class="button"><%= link_to("Hosting", '/hosting')%></li>
        <li class="button"><%= link_to("Cloud", '/cloud')%></li>
        <li class="button"><%= link_to("Reviews", '/reviews')%></li>
        <li class="button"><%= link_to("Social", '/social')%></li>
        <li class="button"><%= link_to("Contact", '/contact')%></li>
      </ul>
    </div>
  </nav>
</header>

<main class="container">
  <article>
    <h1>ColiCSS</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur.

    Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

    Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

    Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
    </p>
  </article>
</main>

<footer>

</footer>
