<header>
  <nav class="container">
    <div class="left">
      <ul class="inline_ul"><li class="logo"><a href="" title="Terug naar de homepage">ColiCSS</a></li><ul>
    </div>

    <div class="right">
      <ul class="inline_ul">
        <li class="button <%=active('index')%>"><%= link_to("Home", root_path)%></li>
        <li class="button <%=active('hosting')%>"><%= link_to("Hosting", hosting_path)%></li>
        <li class="button <%=active('cloud')%>"><%= link_to("Cloud", cloud_path)%></li>
        <li class="button <%=active('reviews')%>"><%= link_to("Reviews", reviews_path)%></li>
        <li class="button <%=active('social')%>"><%= link_to("Social", social_path)%></li>
        <li class="button <%=active('contact')%>"><%= link_to("Contact", contact_path)%></li>
      </ul>
    </div>
  </nav>
</header>
